<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jm.newvista">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".util.ApplicationUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeReversed"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.MovieActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".ui.activity.PosterGalleryActivity"
            android:theme="@style/AppTheme.Gallery">
        </activity>
        <activity android:name=".ui.activity.MessageServiceTestActivity">
        </activity>
        <activity android:name=".ui.activity.SearchResultActivity">
        </activity>
        <activity android:name=".ui.activity.NewMovieReleasesActivity">
        </activity>
        <activity android:name=".ui.activity.SeatSelectionActivity">
        </activity>

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".ui.activity.MovieScheduleActivity">
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/AppTheme.About">
        </activity>
        <activity android:name=".ui.activity.WatchlistActivity">
        </activity>
        <activity android:name=".ui.activity.OrderHistoryActivity">
        </activity>
        <activity android:name=".ui.activity.NowInTheatersActivity">
        </activity>
        <activity android:name=".ui.activity.RandomPicksActivity">
        </activity>
        <activity android:name=".ui.activity.OrderDetailActivity">
        </activity>
    </application>

</manifest>